/****

  * Filename: style.css
  * Website: http://
  * Author: J&oslash;rgen Mortensen
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 20/01/2012
  * Version: 1.0

****/

@import "../less/reset.less";
@import "../less/main.less";
@import "../less/media-queries.less";

body {
  width: 960px;
  margin: 0 auto;
}

/* Header
   ========================================================================== */

header {
  width: 100%;
  height: 120px;
  background: transparent url(../images/bg_header.png) repeat-x center;

}


/* Content
   ========================================================================== */

h1 {
  margin: 20px 0 -200px 30px;
  float: left;
  z-index: 5;
  position: relative;
  color: @color-white;
  font-size: 4em;
}

#gallery {
  width: 960px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;

  #picture {
    width: 960px;
    height: 645px;
    overflow: hidden;
    float: left;
  }
  #navigation {
    list-style: none;
    padding: 0;
    margin: -220px 0 0 30px;
    float: left;
  
    li {
      padding: 0;
      margin: 0 11px 0 0;
      float: left;
      display: inline;
    
      a img {
        display: block;
        border: none;
      }

      a {
        display: block;
        border-top: 2px solid @color-white;
        border-left: 2px solid @color-white;
        border-right: 2px solid @color-white;
        border-bottom: 8px solid @color-white;
      }
      a:hover,
      a:focus {
        border-color: @color-red;
      }
    }
  }
}

p {
  margin-top: -140px;
  margin-left: 30px;
  background-color: @color-white;
  position: relative;
  z-index: 5;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 10px;
  width: 680px;
}


/* Nav
   ========================================================================== */

nav {
  float: right;
  width: 200px;
  margin: -580px 20px 0 0;
  position: relative;
  z-index: 5;

  #navigation {
    margin: 0;   
     
    dl,
    dt,
    dd {
      margin: 0;
    }
    dt {
      .gradient;
    }
    dd {
      .gradient-dd;
    }
    dt,
    dd {
      padding: 0 10px;
      font-size: 12px;
        
      a {
        display: block;
        color: black;
        font-weight: bold;
        line-height: 30px;
      }
    }
    .accordion {
      padding: 0;
      margin: 0;
      .gradient-dd;
    }
  }
  a {
    text-decoration: none;
  }
}

.ie7 nav #navigation dt,
.ie7 nav #navigation dd {
  filter: none;
  background-color: @color-grey;
}




